#dialogueButton
{
	z-index: 100;
	width:84px;
	height:46px;
	position: absolute;
	left:0;
	top:0;
	background-color: #f50;
	background: linear-gradient(#f70,#f30);	
}

#enclosingDiv
{
	background-color: #ff0099;
	position: absolute;
	left: 0px;
	top: 46px;
	width: 300px;
	height: 600px;
	overflow: hidden;
}

#downloadMenu
{
	z-index: 100;
	background-image: url("https://a-v2.sndcdn.com/assets/images/header/header-bg-d50908.png");
	background-repeat: repeat-x;
	background-size: 100%;
	position: absolute;
	left:0px;
	top:46px;
	border-radius: 3px;
}

#downloadMenu .p
{
	display: inline-block;
	margin:2px;
}

.setting
{
	margin:4px;
	padding:4px;
	border-radius: 3px;
	background-color: #f50;
	background: linear-gradient(#f70,#f30);
	
}

#downloadButton:hover
{
	background-color: #f72;
	background: linear-gradient(#f92,#f62);
}
